# Configure Elastic Beanstalk EC2 hosts to use iamsync SSH
# https://github.com/hypothesis/iamsync
packages:
  yum:
    python36.x86_64: []
    python36-libs.x86_64: []
    python36-pip.noarch: []
    python36-tools.x86_64: []


files:
  "/etc/iamsync.yml":
    mode: "000600"
    owner: root
    group: root
    content: |
      iamsync:
        - iam_group: engineering
          sudo_rule: "ALL=(ALL) NOPASSWD:ALL"
          local_gid: 1025


  "/etc/cron.d/iamsync":
    mode: "000644"
    owner: root
    group: root
    content: |
      SHELL=/bin/bash
      PATH="venv/bin:/usr/sbin:/bin"
      5,35 * * * * root sleep ${RANDOM: -1} ; python bin/iamsync.py


commands:
  01_create-bin-dir:
    command: "mkdir -p /root/bin"
  02_download-iamsync:
    command: "curl https://raw.githubusercontent.com/hypothesis/iamsync/main/iamsync.py -o /root/bin/iamsync.py"
  03_create-python-venv:
    command: "python3 -m venv /root/venv"
  04_install-pip-packages:
    command: "source /root/venv/bin/activate ; pip install wheel boto3 pyyaml"
  05_run_iamsync:
    command: "/root/venv/bin/python /root/bin/iamsync.py"
