# ebextension to install NewRelic infrastructure agent.
#
# License key configured via 'Environment property' in Elastic Beanstalk:
# (Application > Configuration > Software > Environment properties)
# 
# Name of the environment property is: 'NEW_RELIC_LICENSE_KEY'
#
files:
  "/root/new_relic_infra_agent_install.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      echo "Obtaining Environment Configuration"
      key=`/opt/elasticbeanstalk/bin/get-config environment -k NEW_RELIC_LICENSE_KEY`
      display_name=`/opt/elasticbeanstalk/bin/get-config environment -k NEW_RELIC_APP_NAME`
      #
      if [ -z "$key" ]
      then
        echo "NEW_RELIC_LICENSE_KEY is empty"
        exit 1
      if [ -z "$display_name" ]
      then
        echo "NEW_RELIC_APP_NAME is empty"
        exit 2
      else
	# Start building the configuration file...
        echo "Creating NewRelic configuration file"
        echo "license_key: $key" > /etc/newrelic-infra.yml
        echo "display_name: $display_name" >> /etc/newrelic-infra.yml
        #
        echo "Configuring infra agent yum repo"
        curl -o /etc/yum.repos.d/newrelic-infra.repo https://download.newrelic.com/infrastructure_agent/linux/yum/el/6/x86_64/newrelic-infra.repo
        #
        echo "Updating yum cache for infra agent yum repo only"
        yum -q makecache -y --disablerepo='*' --enablerepo='newrelic-infra'
        #
        echo "Installing infra agent"
        yum install newrelic-infra -y 
      fi
commands:
  infra_agent_install:
    command: /root/new_relic_infra_agent_install.sh
