## Extension to deploy firewall script and execute once container has been
## deployed.
##
## FIREWALL SCRIPT EXPLAINED
## 01. Grab the IP Address of the running container
## 02. Flush the DOCKER-USER user-defined iptables chain
## 03. Insert a default reject policy
## 04. Reject the 10.0.0.0/8 RFC1918 IP address space
## 05. Reject the 172.16.0.0/12 RFC1918 IP address space
## 06. Reject the 192.168.0.0./16 RFC1918 IP address space
## 07. Accept connections where:
## --- Container_ip equals DESTINATION IP
## --- PROTOCOL equals TCP && SOURCE PORT equals 80
## 08. Accept connections where:
## --- Container_ip equals SOURCE IP
## --- PROTOCOL equals TCP && DESTINATION PORT equals 80
## 09. Accept connections where:
## --- Container_ip equals DESTINATION IP
## --- PROTOCOL equals TCP && SOURCE PORT equals 443
## 10. Accept connections where:
## --- Container_ip equals SOURCE IP
## --- PROTOCOL equals TCP && DESTINATION PORT equals 443
## 11. Accept ALL UDP DNS Traffic
## 12. Save iptables rules
##
files:
  "/root/firewall.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      container_id=`docker ps -q`
      container_ip=`docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' $container_id`
      iptables --flush DOCKER-USER
      iptables --insert DOCKER-USER --jump REJECT
      iptables --insert DOCKER-USER --destination 10.0.0.0/8 --jump REJECT
      iptables --insert DOCKER-USER --destination 172.16.0.0/12 --jump REJECT
      iptables --insert DOCKER-USER --destination 192.168.0.0/16 --jump REJECT
      iptables --insert DOCKER-USER --destination 169.254.169.254 --jump REJECT
      iptables --insert DOCKER-USER --protocol tcp --destination $container_ip --source-port 80 --jump ACCEPT
      iptables --insert DOCKER-USER --protocol tcp --source $container_ip --destination-port 80 --jump ACCEPT
      iptables --insert DOCKER-USER --protocol tcp --destination $container_ip --source-port 443 --jump ACCEPT
      iptables --insert DOCKER-USER --protocol tcp --source $container_ip --destination-port 443 --jump ACCEPT
      iptables --insert DOCKER-USER --protocol udp --destination-port 53 --jump ACCEPT
      iptables --insert DOCKER-USER --protocol udp --source-port 53 --jump ACCEPT
      iptables-save > /etc/sysconfig/iptables
container_commands:
  firewall:
    command: "sh /root/firewall.sh"
