## This adds a rule to iptables at the DOCKER-USER chain which all traffic from which
## all traffic from the container to outside networks must pass. That rule blocks
## the IP of the ec2metadata service so as to not expose sensitive auth tokens etc.

commands:
  10_insert_iptables_metadata_block:
    # Block ec2metadata service
    command: iptables --insert DOCKER-USER --destination 169.254.169.254 --jump REJECT
    # Block RFC 1918 private IP ranges
    command: iptables --insert DOCKER-USER --destination 10.0.0.0/8 --jump REJECT
    command: iptables --insert DOCKER-USER --destination 172.16.0.0/12 --jump REJECT
    command: iptables --insert DOCKER-USER --destination 192.168.0.0/16 --jump REJECT
    # Block all accept TCP Ports 80 and 443
    command: iptables --insert DOCKER-USER --protocol tcp --match tcp --match multiport ! --destination-ports 80,443 -j REJECT
    # Allow UDP Port 53
    command: iptables --insert DOCKER-USER --protocol udp --destination-port 53 --jump ACCEPT
  20_persist_iptables:
    command: iptables-save > /etc/sysconfig/iptables
