# This ebextension modifies the default behaviour of NGINX as it is
# shipped via Elastic Beanstalk. We are configuring a series of proxy
# parameters that enable Via to handle large headers that the likes of
# twitter and youtube send back.
files:
  "/etc/nginx/conf.d/01-proxy_buffers.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      proxy_buffer_size          128k;
      proxy_buffers              4 256k;
      proxy_busy_buffers_size    256k;
container_commands:
  nginx_reload:
    command: "service nginx reload"
