# From: https://docs.newrelic.com/docs/infrastructure/new-relic-infrastructure/installation/install-infrastructure-agent-aws-elastic-beanstalk

files:
  "/etc/newrelic-infra.yml" :
    mode: "000644"
    owner: root
    group: root
    # See: https://docs.newrelic.com/docs/infrastructure/new-relic-infrastructure/configuration/infrastructure-config-file-template-newrelic-infrayml
    # And: https://docs.newrelic.com/docs/infrastructure/install-configure-manage-infrastructure/configuration/infrastructure-configuration-settings
    # And: https://stackoverflow.com/questions/29423608/accessing-environment-variables-in-aws-beanstalk-ebextensions/54221973#54221973
    content: |
      display_name: `{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "NEW_RELIC_APP_NAME"}}`
      license_key: `{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "NEW_RELIC_LICENSE_KEY"}}`
      custom_attributes:
        environment: `{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "NEW_RELIC_ENVIRONMENT"}}`


  "/etc/newrelic-infra/integrations.d/nginx-config.yml" :
    mode: "000644"
    owner: root
    group: root
    # From: https://download.newrelic.com/infrastructure_agent/binaries/linux/amd64/nri-nginx_linux_2.0.1_amd64.tar.gz
    # See: https://docs.newrelic.com/docs/integrations/host-integrations/installation/container-auto-discovery
    # And: https://docs.newrelic.com/docs/integrations/host-integrations/host-integrations-list/nginx-monitoring-integration#config
    content: |
      integration_name: com.newrelic.nginx
        discovery:
          docker:
            match:
              port: 9083
        instances:
          - name: via3-qa-nginx
            command: metrics
            arguments:
              status_url: http://${discovery.ip}:${discovery.port}/_stats
              status_module: discover
              remote_monitoring: true
            labels:
              env: `{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "NEW_RELIC_ENVIRONMENT"}}`
              role: via3-reverse-proxy

commands:
# Create the agent’s yum repository
  "01-agent-repository":
    command: sudo curl -o /etc/yum.repos.d/newrelic-infra.repo https://download.newrelic.com/infrastructure_agent/linux/yum/el/6/x86_64/newrelic-infra.repo
#
# Update your yum cache
  "02-update-yum-cache":
    command: yum -q makecache -y --disablerepo='*' --enablerepo='newrelic-infra'
#
# Run the installation script
  "03-run-installation-script":
    command: sudo yum install newrelic-infra nri-nginx -y