groups:
  ssh_access: {}

files:
  "/etc/ssh/cas.pub":
    mode: "00444"
    owner: root
    group: root
    encoding: plain
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCxK1zWz8DWLexhnHAtLtphoECUd8rRX/g4fVpsYPp7aUdPBeT63n7IykX7KfZTBFIHsUuzBffAL1Re4UuE6dyUDZGdkPCjmTuksqxPV5iP46EmNx9VN/2s8SiSWVWJNV/1Ixk9INpMw9Km7dETJKOFPgRN4nZKI5rMLtoESKidY/eDhK/fmqwn1hdZUngCxpYr4D1bzZLmeLrJrkxPwbKhX0busCUYB/ePOuhMp53eb9v9o2qF3IthmqIxKitCiCW9G5Auzix4qUvxRi6wDdW0DQ4s0J4s4EYj951KdI0+0aExllM3IVZQYWY3I5DUjJlqZA/Vg90x/cyl3eFqcN2GRfH2mHdjtEq32Txdqg1GYG3MMAseC3DWT4LxWs2gcZp5cql2p7VBhgM/WO17igHKH0xFwCubTbVWNStDO1JlbmobK6dRtKjQvL24QvFAVm6oxRO5GV5nZfR52moSc58unZvM+LxIB+hm9WDMqlvk12GP84FRaPyhSOq8VEelQ1ZFqtD4u5aITRc+pOINZtBDkCUAdDATfRBolLI+I5jGaVW+qVEStibjbR3pu1//FvwnVszjWVVDEP7ovkCN0njbGDlrCbfb8YMT03FcSk6mPqxQkzQnvBtqIF3anIVG7vjK5rfiyXkQVANES3xan5l0vhqAzj+wjY2Hik+tNEcn8Q== Bless_CA
